@tailwind base;

/* :root {
  --antarctica: #bada55;
  --north-america: #bada55;
  --south-america: #bada55;
  --asia: #bada55;
  --europe: #bada55;
  --africa: #bada55;
  --australia: #bada55;
} */

@tailwind components;

@tailwind utilities;

/* #asia {
  fill: var(--asia);
}

#north-america {
  fill: var(--north-america);
}

#south-america {
  fill: var(--south-america);
}

#europe {
  fill: var(--europe);
}

#africa {
  fill: var(--africa);
}

#australia {
  fill: var(--australia);
}

#antarctica {
  fill: var(--antarctica);
} */

.continent {
  stroke:#777;
  stroke-width:0.4;
}

.globe {
  fill:#64beff;
}